<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ShopDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\KROU4\YandexDisk\Уник\ООП Панченко\Лаба 11\Lab11\Lab11\ShopDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>